<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label '新的密码' %>
    <%= form.text_field :password %>
    <%= form.hidden_field @type %>
  </div>
  <div class="field">
    <%= form.label '确认密码' %>
    <%= form.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= form.submit '修改密码' %>
  </div>
<% end %>
