<%= form_with(model: user, local: true ) do |form| %>

  <div class="input">
    <%= form.label '用户名' %>
    <%= form.text_field :username %>
  </div>

  <div class="input">
    <%= form.label '密码' %>
    <%= form.password_field :password %>
  </div>
  <div class="input">
    <%= form.label '确认密码'  %>
    <%= form.password_field :password_confirmation  %>
  </div>

  <div class="actions">
    <%= form.submit '注册' ,:class=>'login-btn btn btn-primary'%>
  </div>
  <% if user.errors.any? %>
    <div class="notice">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>