<div class="pageContainer">
  <%= render '/users/leftnav' %>
  <div class="pageContent">

    <p id="notice"><%= notice %></p>
    <p>
      <strong>头像:</strong>
      <%#= @user.avater %>
      <%= image_tag @user.gravatar_url %>
    </p>
    <p>
      <strong>用户名:</strong>
      <%= @user.username %>
    </p>
    <%= render partial: @viewname, locals: { user: @user } %>

    <!--<%#= link_to '修改密码', edit_user_path(@user) %> |-->
<%#= link_to 'Back', users_path %>

  </div>

</div>