<!DOCTYPE html>
<html>
  <head>
    <title>Oridmanage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body class="<%= params[:controller] + '-' + params[:action] %>">
    <%= render '/layouts/nav'%>
    <%= yield %>
  <div class="footer">
    版权所有@neekin
  </div>
    <% if flash.notice %>
    <div class="notice"><%= flash.notice %></div>
  <% end %>
  <script>
      var hideNotice = function(){
          $(".notice").fadeOut("slow");
      }
      setTimeout(hideNotice, 4000);
  </script>
  </body>
</html>
